/* تصميم Scrollbar لمتصفحات Webkit (Chrome, Safari, Edge) */
.custom-scroll::-webkit-scrollbar {
    width: 6px; /* عرض الشريط */
}

/* لمتصفحات Firefox */
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #166534 white;
}


/*هذا يمثل المسار أو الخلفية التي يتحرك عليها الشريط. */
.custom-scroll::-webkit-scrollbar-track {
    background: #166534; /* لون المسار */
    border-radius: 4px;
}

/*هذا يمثل الشريط الذي يتحرك (الجزء الذي تمسكه بالماوس). */
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #166534; /* لون الشريط */
    border-radius: 4px;
    border: 2px solid #f3f4f6; /* مسافة حول الشريط */
}



